<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.covid.title %></title>
    <% include ../partials/head %>
</head>
<!-- <body data-spy="scroll" data-target="#menu"> -->
<body>
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section id="covid">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <img src="/assets/img/photo/blijf_in_uw_kot.jpg" width="500px" align="right" class="inlineImg"/>
                        <h1><%= text.page.covid.survey_title %></h1>
                        <p><%- text.page.covid.survey_desc %></p>
                        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScRw2hNZjQ9UrdDsSbPFo8yo-27HbBKLJQxM-5R_ZyWJO2JUw/viewform?fbclid=IwAR2NCreT0ntVspDF8kwuoJQCoR6mRP5T4bvM26DX4YPlKziOaCY_FodQJSE"><%- text.page.covid.survey_link_name %></a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
