<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.documents.title %></title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section id="vergaderverslagen" v-show="loading">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <div class="download-list" style="text-align: center;">
                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <section 
            v-for="folder in folder.folders"
            id="vergaderverslagen"
            v-cloak
        >
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h2>{{folder.name}}</h2>
                        <p>{{folder.description}}</p>
                        <div class="download-list">
                            <div 
                             v-for="file in folder.files" 
                             class="download-item"
                            >
                                <a                                
                                v-bind:href="'https://api.'+ host + '/documents/' + file.id"
                                download
                                v-cloak
                                >
                                    {{file.name}}
                                </a><br>
                            </div>
                            <a 
                             v-if="folder.pageToken"
                             v-on:click="loadNext(folder)"
                             href="#"
                             v-cloak
                            >
                                <%= text.page.documents.more %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
const app = new Vue({
    el: 'main',
    data: {
        folder: {
            name,
            files: [],
            folders: [],
            parent,
        },
        host: location.host,
        loading: true
    },
    async beforeMount() {
        const folder = await fetch(`https://api.${location.host}/documents`, {
            method: 'GET',
            headers: {
                'Content-Type': 'Application/json'
            }
        }).then(res => res.json());

        this.folder = new Folder(folder);
        this.loading = false;
    },
    methods: {
        loadNext: async function(folder) {
            if (!folder.pageToken) return;
            
            const result = await fetch(`https://api.${location.host}/documents?pageToken=${folder.pageToken}&parent=${folder.parent}&pageSize=5`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'Application/json'
                }
            }).then(res => res.json());

            folder.files.push(...result.files);
            folder.folders.push(...result.folders);
            folder.pageToken = result.pageToken;
            folder.order();
        }
    }
});

class Folder {
    constructor(folder) {
        this.files = folder.files;
        this.pageToken = folder.pageToken;
        this.folders = folder.folders.map(folder => new Folder(folder));
        this.name = folder.name;
        this.parent = folder.parent;
        this.order();
    }

    order() {
        this.folders.sort((a, b) => {
            if (a.name > b.name) return 1;
            return -1;
        });
    }
}
    </script>
</body>
</html>
