<!DOCTYPE html>
<html>
<head>
    <title>Projecten | StuRa UHasselt</title>
    <% include ../partials/head %>
</head>
<body data-spy="scroll" data-target="#menu">
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section id="internationaal">
            <div class="section-image" style="background-image: url('/assets/img/background/2.jpg');"></div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-5 box">
                        <h1>International Students</h1>
                        <p>
                            For international students we have the International Council
                            as een extentions of the student council. The International Council is the official participatory platform
                            for non-Dutch speaking students' enrolled in international programmes. The Council organises meetings and
                            networks with students, and in turn advises and consults with StuRa.<br>
                            <br>
                            Our international council this year is Xhoana Trezhnjeva<br>
                            Email: <a href="mailto:xhoana.trezhnjeva@student.uhasselt.be ">xhoana.trezhnjeva@student.uhasselt.be</a><br>
                            Email: <a href="mailto:internationalcouncil@uhasselt.be">internationalcouncil@uhasselt.be</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
