<!DOCTYPE html>
<html>
<head>
    <title>Verenigingen | StuRa UHasselt</title>
    <% include ../partials/head %>
</head>
<body data-spy="scroll" data-target="#menu">
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section id="leden">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1>Leden van de studentenraad</h1>
                        <p>
                        Hier hebben we een overzicht gemaakt van alle leden van de studentenraad. We hebben iedereen per faculteit gesorteerd 
                        </p>
                        <br>
                        <table style="width:100%">
                            <h3 style="text-align:center">Rechten</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/An-Sofie Peeters.jpg" width="200px" alt="An-Sofie Peeters"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Chelsey Thijs.jpg" width="200px" alt="Chelsey Thijs"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Robbe Vos.jpg" width="200px" alt="Robbe Vos"></div></td> 
                            </tr>   
                            <tr>
                                <td>
                                    <h5 style="text-align:center">An-Sofie Peeters</h5>
                                    <p style="text-align:center">Faculteitscoördinator</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Chelsey Thijs</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Robbe Vos</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Bedrijfseconomische wetenschappen</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Lisa Colinet.jpg" width="200px" alt="Lisa Colinet"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Yann Ceccarelli.png" width="200px" alt="Yann Ceccarelli"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Xhoana Trezhnjeva.jpg" width="200px" alt="Xhoana Trezhnjeva"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Niek Schoenman.jpg" width="200px" alt="Niek Schoenman"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Ahsan Chuhan.jpg" width="200px" alt="Ahsan Chuhan"></div></td> 
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Lisa Colinet</h5>
                                    <p style="text-align:center">voorzitster</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Yann Ceccarelli</h5>
                                    <p style="text-align:center">Faculteitscoördinator</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Xhoana Trezhnjeva</h5>
                                    <p style="text-align:center">Internationale coördinator</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Niek Schoenman</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Ahsan Chuhan</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Geneeskunde en levenswetenschappen</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Stijn Dilissen.jpg" width="200px" alt="Stijd Dilissen"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Emma Ceulemans.jpg" width="200px" alt="Emma Ceulemans"></div></td> 
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Stijn Dilissen</h5>
                                    <p style="text-align:center">Verenigingscoördinator</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Emma Ceulemans</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Industriële ingenieurswetenschappen</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Jordi Schreurs.jpg" width="200px" alt="Jordi Schreurs"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Rainier Hermans.jpg" width="200px" alt="Rainier Hermans"></div></td> 
                                <td><div style="text-align: center"><img src="/assets/img/leden/Bram Claessen.jpg" width="200px" alt="Bram Claessen"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Toon Vekemans.jpg" width="200px" alt="Toon Vekemans"></div></td> 
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Jordi Schreurs</h5>
                                    <p style="text-align:center">Ondervoorzitter onderwijs</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Rainier Hermans</h5>
                                    <p style="text-align:center">Faculteitscoördinator</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Bram Claessen</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Toon Vekemans</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Mobiliteitswetenschappen</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Tim Vervoort.jpg" width="200px" alt="Tim Vervoort"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Len Van Ocken.jpg" width="200px" alt="Len Van Ocken"></div></td> 
                                <td><div style="text-align: center"><img src="/assets/img/leden/Ines Damen.jpg" width="200px" alt="Ines Damen"></div></td> 
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Tim Vervoort</h5>
                                    <p style="text-align:center">Ondervoorzitter student</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Len Van Ocken</h5>
                                    <p style="text-align:center">Secretaris</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Ines Damen</h5>
                                    <p style="text-align:center">Lid</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Revaliditeitswetenschappen</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Rune Van de Weyer.jpg" width="200px" alt="Rune Van de Weyer"></div></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Rune Van de Weyer</h5>
                                    <p style="text-align:center">Faculteitscoördinator</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Architectuur</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Zjef Van Den Bruel.jpg" width="200px" alt="Zjef Van Den Bruel"></div></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Zjef Van Den Bruel</h5>
                                    <p style="text-align:center">Faculteitscoördinator</p>
                                </td> 
                            </tr> 
                        </table>
                        <table style="width:100%">
                            <br>
                            <br>
                            <h3 style="text-align:center">Wetenschappen</h3>
                            <br>
                            <tr>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Jasper Steegmans.jpg" width="200px" alt="Jasper Steegmans"></div></td>
                                <td><div style="text-align: center"><img src="/assets/img/leden/Cecile Ishan.jpg" width="200px" alt="Cécile Ishan"></div></td> 
                                <td><div style="text-align: center"><img src="/assets/img/leden/Victor Smet.jpg" width="200px" alt="Victor Smet"></div></td> 
                            </tr>
                            <tr>
                                <td>
                                    <h5 style="text-align:center">Jasper Steegmans</h5>
                                    <p style="text-align:center">Faculteitscoördinator</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Cécile Ishan</h5>
                                    <p style="text-align:center">Communicatieverantwoordelijke</p>
                                </td> 
                                <td>
                                    <h5 style="text-align:center">Victor Smet</h5>
                                    <p style="text-align:center">FUN-manager</p>
                                </td> 
                            </tr> 
                        </table>
                    </div>
                </div>
            </div>
        </section>   
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>        
</body>
</html>
