<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.mobility.title %></title>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header> 
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1><%= text.page.mobility.h1 %></h1>
                        <p><%= text.page.mobility.stay_tuned %></p><br>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
