<!DOCTYPE html>
<html>
<head>
    <title><%= text.page.association.title %></title>
    <% include ../partials/head %>
</head>
<body data-spy="scroll" data-target="#menu">
    <header>
        <% include ../partials/header %>
    </header>    
    <main>
        <section id="verenigingen">
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1><%= text.page.association.heading %></h1>
                        <p><%- text.page.association.description %></p>
                        <br>
                        <table style="width:100%">
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/Ambifaarke.png" width="100px" alt="Het wapenschild van Ambifaarke"></td>
                                <td>
                                    <h5>Ambifaarke</h5>
                                    <p>Ambifaarke is een studentenvereniging. Deze vereniging is de studentenfanfare van de UHasselt.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/ASG.jpg" width="100px" alt="Het wapenschild van A.S.G."></td>
                                <td>
                                    <h5>A.S.G</h5>
                                    <p>A.S.G. Diepenbeek is een studentenvereniging voor studenten industriële ingenieurswetenschappen.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/BeMSA.png" width="100px" alt="Het logo van BeMSA"></td>
                                <td>
                                    <h5>BeMSA</h5>
                                    <p>Belgian Medical Students' Association, of BeMSA, is een studentenvereniging voor geneeskundestudenten.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/Biomedica.png" width="100px" alt="Het wapenschild van Biomedica"></td>
                                <td>
                                    <h5>Biomedica</h5>
                                    <p>Biomedica is een studentenvereniging voor de studenten biomedische wetenschappen.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/CCG.png" width="100px" alt="Het wapenschild van CCG"></td>
                                <td>
                                    <h5>CCG</h5>
                                    <p>Christelijke Campusgemeenschap, of CCG, is een studentenvereniging. Het is de enige studentenvereniging met een godsdienstige achtergrond.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/Commeatus.png" width="100px" alt="Het wapenschild van Commeatus"></td>
                                <td>
                                    <h5>Commeatus</h5>
                                    <p>Commeatus is een Studentenvereniging voor de studenten mobiliteitswetenschappen.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/DIPs.jpg" width="100px" alt="Het wapenschild van DIP's"></td>
                                <td>
                                    <h5>DIP's</h5>
                                    <p>DIP's is een studentenvereniging voor de studenten biologie en chemie.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/ELSA.png" width="100px" alt="Het logo van ELSA"></td>
                                <td>
                                    <h5>ELSA</h5>
                                    <p>European Law Students' Association, of ELSA, is een studentenvereniging voor rechtenstudenten.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/ESN.png" width="100px" alt="Het logo van ESN"></td>
                                <td>
                                    <h5>ESN</h5>
                                    <p>Erasmus Student Network, of ESN, is een studentenvereniging voor de buitenlandse studenten die aan de UHasselt studeren.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/Filii_Lamberti.png" width="100px" alt="Het wapenschild van Filii Lamberti"></td>
                                <td>
                                    <h5>Filii Lamberti</h5>
                                    <p>Filii Lamberti is een studentenvereniging voor de studenten informatica, wiskunde en fysica.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/Hermes.png" width="100px" alt="Het wapenschild van Hermes"></td>
                                <td>
                                    <h5>Hermes</h5>
                                    <p>Hermes is een studentenvereniging voor de studenten bedrijfseconomische wetenschappen.</p>
                                </td> 
                                <td><img src="#" width="100px" alt="Het logo van JOSS"></td>
                                <td>
                                    <h5>JOSS</h5>
                                    <p>Joint Organisation of Statistic Scholars, of JOSS, is een studentenvereniging. Sommige leden van deze vereniging zijn aangesloten bij CenStat. JOSS is een groepering van biostatistici.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/LVSV.jpg" width="100px" alt="Het wapenschild van LVSV"></td>
                                <td>
                                    <h5>LVSV</h5>
                                    <p>Liberaal Vlaams StudentenVerbond, of LVSV, is een studentenvereniging. De vereniging is een partijonafhankelijke, maar politiek-ideologische vereniging, namelijk liberaal-ideologisch, die deel uitmaakt van LVSV Nationaal.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/Miezerik.png" width="100px" alt="Het wapenschild van Miezerik"></td>
                                <td>
                                    <h5>Miezerik</h5>
                                    <p>Miezerik is een studentenvereniging voor de studenten geneeskunde.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/Rekinea.png" width="100px" alt="Het wapenschild van Rekinea"></td>
                                <td>
                                    <h5>Rekinea</h5>
                                    <p>Rekinéa is een studentenvereniging voor de studenten Revalidatiewetenschappen en Kinesitherapie.</p>
                                </td> 
                                <td><img src="/assets/img/verenigingen_fotos/SOFA.png" width="100px" alt="Het wapenschild van SOFA"></td>
                                <td>
                                    <h5>SOFA</h5>
                                    <p>SOFA is een studentenvereniging voor studenten van de Faculteit Architectuur en Kunst.</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/assets/img/verenigingen_fotos/Themis.svg" width="100px" alt="Het wapenschild van Themis"></td>
                                <td>
                                    <h5>Themis</h5>
                                    <p>Themis is een studentenvereniging voor de studenten rechten.</p>
                                </td> 
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        
          <!-- 
          <section id="groepen">
            <div class="container">
              <div class="row">
                <div class="col-lg">
                  <h1>Studentengroepen aan de UHasselt</h1>
                  <p>
                    Naast de reeds bestaande verenigingen en clubs hebben we sinds 2018 ook de ‘groepen’ in het leven geroepen.
                    Een groep is, zoals het woord het al zegt, een groep studenten die graag hun hobby’s of interesses met elkaar
                    willen delen. Als deze groepen erkend worden door de universiteit kunnen ook zij gebruik maken van allerlei
                    faciliteiten zoals lokalen en eventueel zelfs subsidies. Je kan
                    <a href="https://suhasselt.be/groepen.html" target="_blank">hier</a> een overzicht vinden van alle groepen.
                  </p>
                </div>
              </div>
            </div>
          </section>
          -->
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
