<!DOCTYPE html>
<html>
<head>
    <title>Recovery | StuRa UHasselt</title>
    <% include ../../partials/head %>
</head>
<body>
    <header>
        <% include ../../partials/header %>
    </header>
    <main>
        <div class="content">
            <div class="form">
                <p>Wachtwoord vergeten, vul email in:</p>
                <input 
                    id="username" 
                    type="text" 
                    placeholder="email"
                    v-model="email"
                    @keydown.enter="forgot()"/>
                <button
                    class="button"
                    @click="forgot()"
                >
                    Bevestigen
                </button>
            </div>
        </div>
    </main>
    <script>
    const vm = new Vue({
        el: ".content",
        data: {
            token: query.get('token'),
            password: '',
            password_confirm: '',            
        },
        methods: {
            setPassword: async function() {
                const result = await call("/account/forgot", {
                    method: 'PUT',
                    body: {
                        token: this.token,
                        password: this.password,
                        password_confirm: this.password_confirm,
                    },
                });

                if (result && result.success) {
                    goTo('/admin/login');
                } else {
                    console.log('false', result);
                    //laat een error popup zien???
                }
            },
        }
    });
    </script>
</body>
</html> 
